# Supabase Environment Variables
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend API Secret Key
RESEND_API_KEY=
CONTACT_DESTINATION_EMAIL=dev.akioxz@gmail.com

# Cloudflare Turnstile Keys
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Admin Inbox Password
ADMIN_PASSWORD=
